# Obsidian
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/hotkeys.json
.obsidian/core-plugins.json
.obsidian/community-plugins.json
.obsidian/graph.json
.obsidian/text.json

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Attachments (large files)
# Attachments/
.sync-tmp2/

# 手机同步工具日志
手机同步工具/sync.log
